# JetBrains
.idea

# Python
__pycache__
.ipynb_checkpoints
venv

# Sphinx
docs
docs2
FOTS-Prover.docs
source
Makefile
make.bat

# Other
wd

# latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof